__pycache__/
*.py[cod]
*$py.class

pip-log.txt
pip-delete-this-directory.txt

*.jpg
*.PNG
*.PNG
*.txt
food_test/
recipe_test/
tests/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints

.python-version

